html, body {
	background: linear-gradient(to bottom right, white, #F5F5F5);
	height: 100%;
}
.work-item {
	border: 1px solid white;
	margin: -1px 0 0 -1px;
	background-size: cover;
	background-position: center;
	transition: all 0.3s;
	display: block;
	text-decoration: none;
}
.work-item-desc {
	width: 100%;
	font-size: 0.8em;
	background-color: rgba(0, 0, 0, 0.6);
	transition: background-color 0.3s;
	color: #fff;
	padding: 1.7em 0;
	line-height: 1.2;
	text-align: center;
}
.work-item:hover {
	transform: scale(1.1);
	z-index: 1000;
	box-shadow: 0 5px 30px #000;
}
.work-item:after {
	content: "";
	display: block;
}

/*desktop*/

@media screen and (min-width: 768px) {
.work {
	display: flex;
	flex-wrap: wrap;
}
.work-item {
	/*width: 20%;*/
	position: relative;
	overflow: hidden;
}
.work-item-desc {
	position: absolute;
	bottom: 0;
	max-height: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.7);
	transition: max-height 0.5s;
	/*box-sizing: border-box;*/
	opacity: 0;
}
.work-item:after {
	padding-bottom: 56%;
}
.work-item-desc:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.work-item:hover .work-item-desc {
	max-height: 1000px;
	padding: 1.5em 1.2em;
	opacity: 1;
}
}
